@use "../global/variables.scss" as vars;

.header {
  margin: 0 24px;
}

.header__up {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-family: 'ClashDisplay';
}

.header__wrapper {
  display: flex;
}

.header__search {
  margin-right: 20px;
}

.header__logo {
  font-size: 24px;
}

.header__list {
  display: none;
}

.header__icon {
  fill: rgb(42, 37, 75);
}

.burger {
  position: relative;
  order: 3;
  border: none;
  background: transparent;
  width: 16px;
  height: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: vars.$dark-primary;
}

.header__down {
  display: none;
}

@media (min-width: vars.$desktop-width) {
  .header {
    margin: 0 28px;
  }

  .header__up {
    padding: 20px 0;
    border-bottom: 1px solid rgb(191, 186, 186);
  }

  .burger {
    display: none;
  }

  .header__search {
    order: 1;
    margin: 0;
  }

  .icon-cart {
    margin-right: 16px;
  }

  .header__logo {
    order: 2;
    font-size: 24px;
  }

  .header__list {
    display: flex;
    order: 3;
    padding: 0;
    margin: 0;
  }

  .header__icon {
    fill: rgb(42, 37, 75);
  }

  .header__down {
    display: block;
  }

  .header__navigation-list {
    display: flex;
    justify-content: center;
  }

  .header__navigation-item {
    font-size: 16px;
    margin-right: 44px;
  }

  .header__navigation-link {
    color: vars.$description-text;
  }

  .header__navigation-link:hover {
    color: vars.$dark-primary;
  }
}
