@use "../global/variables.scss" as vars;

.header {
  position: relative;
}

.header__up {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0;
  font-family: 'ClashDisplay';
}

.header__wrapper {
  display: flex;
  margin-right: 36px;
}

.header__search {
  margin-right: 20px;
}

.header__logo {
  margin-left: 24px;
  font-size: 24px;
}

.header__list {
  display: none;
}

.header__icon {
  fill: rgb(42, 37, 75);
}

.header__burger-toggle {
  position: absolute;
  width: 12px;
  height: 10px;
  background-color: transparent;
  border: none;
}

.header__burger-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 10px;
  background-image: url("../../img/svg/burger-toggle.svg");
  background-repeat: no-repeat;
}

.header__navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.header__down--closed {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #ffffff;
}

.header__down--closed {
  display: none;
}

.header__navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding: 0;
  margin: 0 auto;

}

.header__navigation-item {
  margin-bottom: 10px;
}

.header__navigation-link {
  color: vars.$dark-primary;
}

.header__navigation-link:hover {
  color: vars.$dark-primary;
}

.header__navigation-link {
  color: vars.$description-text;
}

@media (min-width: vars.$desktop-width) {
  .header {
    margin: 0 28px;
  }

  .header__up {
    padding: 20px 0;
    border-bottom: 1px solid rgb(191, 186, 186);
  }

  .header__burger {
    display: none;
  }

  .header__search {
    order: 1;
    margin: 0;
  }

  .icon-cart {
    margin-right: 16px;
  }

  .header__logo {
    order: 2;
    font-size: 24px;
  }

  .header__list {
    display: flex;
    order: 3;
    padding: 0;
    margin: 0;
  }

  .header__icon {
    fill: rgb(42, 37, 75);
  }

  .header__burger-toggle {
    display: none;
  }

  .header__down {
    display: block;
    position: static;
    padding-top: 20px;
  }

  .header__navigation-list {
    display: flex;
    justify-content: center;
  }

  .header__navigation-item {
    font-size: 16px;
  }
}
