$desktop-width: 768px;
$mobile-width-only: 767px;

$dark-primary: rgb(42, 37, 75);
$description-text: rgb(202, 198, 218);
$button-color: rgb(66, 66, 106);
$light-grey: rgb(249, 249, 249);
$primary: rgb(78, 77, 147);
